<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- Segundos que tarda en ejecutarse las funciones del Timer -->
    <add key="timeElapsed" value="20"/>
    <!-- Segundos que tiene que estar sin acceder una dirección IP para borrarla del ipHash -->
    <add key="timeClean" value="20"/>
    <!-- Número máximo de accesos -->
    <add key="maxAccess" value="20"/>
    <!-- Número máximo de accesos por URL o por Lista -->
    <add key="maxAccessURL" value="12"/>
    <!-- Número máximo de accesos (maxAccessTime) por (maxTime) segundos -->
    <add key="maxAccessTime" value="10"/>
    <add key="maxTime" value="4"/>
    <!-- Número máximo de accesos periódicos -->
    <add key="maxPeriodAccess" value="10"/>
    <!-- Número máximo de accesos de IPs que empiezan por los mismos 3 números -->
    <add key="maxMultiIP" value="5"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los errores para la depuración, establezca el siguiente valor en true. Para no revelar información sobre las excepciones establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
